.blog_post_richtext > .ref_media_block,
.blog_post_richtext > h2,
.blog_post_richtext > h3,
.blog_post_richtext > h4,
.blog_post_richtext > h5,
.blog_post_richtext > h6,
.blog_post_richtext > p,
.blog_post_richtext > ul,
.blog_post_richtext > ol {
  width: 100%;
  text-align: left;
  color: #2d2d2d;
}

.blog_post_richtext {
  h1 {
    font-size: 32px;
    line-height: 160%;
    color: #2d2d2d;
    font-family: 'Georgia', ui-sans-serif, system-ui, Arial;
    font-weight: 700;
    margin-bottom: 24px;
  }

  h2 {
    font-family: 'Georgia', ui-sans-serif, system-ui, Arial;
    font-weight: 700;
  }

  @media all and (max-width: 767px) {
    h1 {
      line-height: 120%;
      font-size: 28px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.blog_post_richtext {
  a {
    text-decoration: underline;
    :hover {
      text-decoration: none;
      opacity: 0.8;
    }
    :focus-visible {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.blog_post_richtext > h2,
.blog_post_richtext > h3,
.blog_post_richtext > h4,
.blog_post_richtext > h5,
.blog_post_richtext > h6 {
  font-family: 'Georgia', ui-sans-serif, system-ui, Arial;
}

.blog_post_richtext > h2 {
  font-size: 28x;
  line-height: 120%;
  margin-bottom: 12px;
}
.blog_post_richtext > h3 {
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 12px;
}
.blog_post_richtext > h4 {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 12px;
}
.blog_post_richtext > h5 {
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 12px;
}
.blog_post_richtext > h6 {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 12px;
}

.blog_post_richtext > p,
.blog_post_richtext > ul,
.blog_post_richtext > ol {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 16px;
  font-family: 'Georgia', ui-sans-serif, system-ui, Arial;
}

@media (min-width: 576px) {
  .blog_post_richtext > h2 {
    font-size: 28px;
    line-height: 125%;
  }
  .blog_post_richtext > h3 {
    font-size: 24px;
    line-height: 125%;
  }
  .blog_post_richtext > h4 {
    font-size: 22px;
    line-height: 125%;
  }
  .blog_post_richtext > h5 {
    font-size: 20px;
    line-height: 125%;
  }
  .blog_post_richtext > h6 {
    font-size: 16px;
    line-height: 125%;
  }
}

@media (min-width: 992px) {
  .blog_post_richtext > .ref_media_block,
  .blog_post_richtext > h2,
  .blog_post_richtext > h3,
  .blog_post_richtext > h4,
  .blog_post_richtext > h5,
  .blog_post_richtext > h6,
  .blog_post_richtext > p,
  .blog_post_richtext > ul,
  .blog_post_richtext > ol {
    width: 100%;
  }

  .blog_post_richtext > h2 {
    font-size: 28px;
    line-height: 130%;
  }
}

@media (min-width: 1280px) {
  .blog_post_richtext > h2 {
    font-size: 28px;
    line-height: 130%;
  }
  .blog_post_richtext > h3 {
    font-size: 24px;
    line-height: 130%;
  }
  .blog_post_richtext > h4 {
    font-size: 20px;
    line-height: 130%;
  }
  .blog_post_richtext > h5 {
    font-size: 24px;
    line-height: 130%;
  }
  .blog_post_richtext > h6 {
    font-size: 16px;
    line-height: 130%;
  }
}
