.react_slick_follow_height {
  div {
    height: 100% !important;
  }
}

.background_overlay {
  background: linear-gradient(
    90deg,
    rgba(10, 5, 25, 0.85) 0%,
    rgba(20, 10, 40, 0.5) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.gray_green_scrollbar {
  z-index: 12 !important;
  &::-webkit-scrollbar {
    width: 8%;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #02020280;
    border: 1px solid #eeeeee;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    padding-left: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff80;
    border: 1px solid #eeeeee;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}

.gray_green_scrollbar_plus_mobile {
  @media all and (min-width: 768px) {
    &::-webkit-scrollbar {
      width: 18px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #02020280;
      border: 1px solid #eeeeee;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      padding-left: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffffff80;
      border: 1px solid #eeeeee;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      border: 3px solid transparent;
      background-clip: content-box;
    }
  }
}

.bg_fade_black {
  background-image: linear-gradient(
    to right,
    #020202,
    #020202,
    #020202,
    #020202,
    #020202,
    #02020295,
    #02020290,
    #02020280,
    #02020270,
    #02020250,
    #02020220,
    #02020200
  );
}

.blob {
  display: flex;
  animation: fadeIn 500ms reverse;

  .gooey {
    background-image: linear-gradient(120deg, #2e1a47 0%, #910096 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    animation: morph 3s linear infinite;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
  }
  .gooey:before,
  .gooey:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 12px #4f4f4f20;
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(120deg, #2e1a47 0%, #910096 100%);
  }

  .gooey:before {
    animation: morph 3s linear infinite;
    opacity: 0.21;
    animation-duration: 1.5s;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      opacity: 0.89;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }

  @keyframes fadeIn {
    100% {
      transform: scale(1.03);
      opacity: 0;
    }
  }
}

.blobV2_wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;

  .blobV2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    z-index: 1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }

  @keyframes move {
    0% {
      transform: scale(1) translate(10px, -30px);
    }
    38% {
      transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(10px, -30px);
    }
  }
}

//DELAYS
.delay_500 {
  animation-delay: 500ms;
}

.delay_1000 {
  animation-delay: 1000ms;
}

.delay_1500 {
  animation-delay: 1500ms;
}

.delay_2000 {
  animation-delay: 2000ms;
}

.heading_text_shadow {
  text-shadow:
    0 0 8px rgba(0, 0, 0, 0.9),
    0 0 12px rgba(255, 215, 0, 0.8);
}

.backdrop_blur {
  backdrop-filter: blur(6px);
}

.shadow_card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.footer-overlay {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* inside glow */
  box-shadow:
    inset 0 0 30px rgba(255, 215, 0, 0.15),
    inset 0 0 60px rgba(255, 215, 0, 0.08);
}

.badge {
  display: inline-block;
  background: #d4af37;
  color: #fff;
  border-radius: 12px;
  margin: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.badge:hover {
  box-shadow:
    0 0 10px #ffd966,
    0 0 20px #ffd966,
    0 0 30px #d4af37;
  color: #2e1a47;
}

.auth_forms {
  .form_container {
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  }

  .shape1 {
    background: linear-gradient(to right, #d4af37, #ffd700);
    left: -80px;
    top: -80px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .shape2 {
    background: linear-gradient(#4b0082, #2e1a47);
    right: -30px;
    bottom: -80px;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
}

.divider_section {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #d4af37, transparent);
  margin-inline: auto;
  width: 70%;
}

.purple_background {
  background-image:
    radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(92, 85, 85, 0.04) 50%,
      rgba(92, 85, 85, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(129, 123, 123, 0.04) 50%,
      rgba(129, 123, 123, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(65, 65, 65, 0.04) 0%,
      rgba(65, 65, 65, 0.04) 50%,
      rgba(3, 3, 3, 0.04) 50%,
      rgba(3, 3, 3, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(75, 0, 130), rgb(32, 2, 38));
}

.radial_yellow {
  background-image: radial-gradient(circle, #d4af37, #dfb930, #eac327, #f5cd1a, #ffd700);
}

.blog_container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.blog_headings {
  color: #4b0082;
  text-shadow: 0 0 6px #d4af37;
}
